<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<servo>
		<debug>false</debug>
		<enabled>false</enabled>
		<serial_port>/dev/ttyS0</serial_port>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<enable>false</enable>
		<terminate_if_init_failed>true</terminate_if_init_failed>
		<read_save_path/>
		<logging_level>2</logging_level>
	</servo>
	<gx3>
		<debug>true</debug>
		<serial_port>/dev/ttyACM0</serial_port>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<terminal>
			<IMU1>
				<baudrate>115200</baudrate>
				<parity>8N1</parity>
				<hardware_flow_control>false</hardware_flow_control>
				<raw_mode>true</raw_mode>
			</IMU1>
		</terminal>
		<vehicle_offset_x_meters>0.052</vehicle_offset_x_meters>
		<vehicle_offset_y_meters>0</vehicle_offset_y_meters>
		<vehicle_offset_z_meters>-0.3</vehicle_offset_z_meters>
		<antenna_offset_x_meters>-0.24</antenna_offset_x_meters>
		<antenna_offset_y_meters>-0.05</antenna_offset_y_meters>
		<antenna_offset_z_meters>-0.473</antenna_offset_z_meters>
		<use_external_gps>false</use_external_gps>
		<position_message_rate_hz>10</position_message_rate_hz>
		<attitude_message_rate_hz>10</attitude_message_rate_hz>
		<enable>false</enable>
		<terminate_if_init_failed>true</terminate_if_init_failed>
		<read_save_path/>
		<logging_level>2</logging_level>
	</gx3>
	<qgroundcontrol>
		<debug>false</debug>
		<host>
			<ip>127.0.0.1</ip>
			<port>14550</port>
		</host>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<UASidentifier>100</UASidentifier>
		<enable>false</enable>
		<terminate_if_init_failed>true</terminate_if_init_failed>
		<read_save_path/>
		<logging_level>2</logging_level>
	</qgroundcontrol>
	<channels>
		<two>
			<gyro>
				<value>1050, 1800</value>
			</gyro>
		</two>
		<three>
			<aileron>
				<value>1000, 1500, 2000</value>
			</aileron>
			<elevator>
				<value>1000, 1500, 2000</value>
			</elevator>
			<rudder>
				<value>1000, 1500, 2000</value>
			</rudder>
		</three>
		<five>
			<throttle>
				<value>1000, 1250, 1500, 1750, 2000</value>
			</throttle>
			<pitch>
				<value>1000, 1250, 1500, 1750, 2000</value>
			</pitch>
		</five>
	</channels>
	<controller_params>
		<mix>
			<roll>0.062500</roll>
			<pitch>0.062500</pitch>
		</mix>
		<mode>0</mode>
		<trajectory>0</trajectory>
		<attitude_pid>
			<roll>
				<gain>
					<proportional>1.000000</proportional>
					<derivative>1.000000</derivative>
					<integral>1.000000</integral>
				</gain>
				<trim>0.000000</trim>
			</roll>
			<pitch>
				<gain>
					<proportional>1.000000</proportional>
					<derivative>1.000000</derivative>
					<integral>1.000000</integral>
				</gain>
				<trim>0.000000</trim>
			</pitch>
		</attitude_pid>
		<translation_outer_pid>
			<x>
				<proportional>1.000000</proportional>
				<derivative>1.000000</derivative>
				<integral>1.000000</integral>
			</x>
			<y>
				<proportional>1.000000</proportional>
				<derivative>1.000000</derivative>
				<integral>1.000000</integral>
			</y>
			<travel>15.000000</travel>
		</translation_outer_pid>
		<translation_outer_sbf>
			<ned_x>
				<proportional>1.000000</proportional>
				<derivative>1.000000</derivative>
				<integral>1.000000</integral>
			</ned_x>
			<ned_y>
				<proportional>1.000000</proportional>
				<derivative>1.000000</derivative>
				<integral>1.000000</integral>
			</ned_y>
			<travel>0.000000</travel>
		</translation_outer_sbf>
		<line>
			<xtravel>0.000000</xtravel>
			<ytravel>0.000000</ytravel>
			<hover>0.000000</hover>
			<speed>0.000000</speed>
		</line>
		<circle>
			<radius>10.000000</radius>
			<hover>7.000000</hover>
			<speed>0.300000</speed>
		</circle>
	</controller_params>
	<physical_params>
		<mass>13.65</mass>
		<main_hub_offset>
			<x>0</x>
			<y>0</y>
			<z>-0.32</z>
		</main_hub_offset>
		<tail_hub_offset>
			<x>-1.06</x>
			<y>0</y>
			<z>0</z>
		</tail_hub_offset>
		<inertia>
			<x>0.36</x>
			<y>1.48</y>
			<z>1.21</z>
		</inertia>
	</physical_params>
	<novatel>
		<debug>true</debug>
		<enabled>false</enabled>
		<serial_port>/dev/ttyS0</serial_port>
		<read_style>1</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<enable_fallback_gps>true</enable_fallback_gps>
		<log_fallback_gps>false</log_fallback_gps>
		<enable>false</enable>
		<terminate_if_init_failed>true</terminate_if_init_failed>
		<read_save_path/>
		<logging_level>2</logging_level>
	</novatel>
	<log>
		<debug>false</debug>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<enable>true</enable>
		<terminate_if_init_failed>true</terminate_if_init_failed>
		<read_save_path/>
		<logging_level>2</logging_level>
	</log>
	<mdl_altimeter>
		<debug>true</debug>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<enabled>false</enabled>
		<device>/dev/ttyUSB0</device>
		<terminal>
			<Altimeter1>
				<baudrate>38400</baudrate>
				<parity>8N1</parity>
				<hardware_flow_control>false</hardware_flow_control>
				<raw_mode>true</raw_mode>
			</Altimeter1>
		</terminal>
		<enable>false</enable>
		<terminate_if_init_failed>true</terminate_if_init_failed>
		<read_save_path/>
		<logging_level>2</logging_level>
	</mdl_altimeter>
	<tcpserial>
		<debug>false</debug>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<enabled>false</enabled>
		<serial_path>/dev/ttyS0</serial_path>
		<terminal>
			<serial_settings>
				<baudrate>9600</baudrate>
				<parity>8N1</parity>
				<hardware_flow_control>false</hardware_flow_control>
				<raw_mode>true</raw_mode>
			</serial_settings>
		</terminal>
		<TCP_Port>5000</TCP_Port>
		<TCP_backlog>10</TCP_backlog>
		<enable>false</enable>
		<terminate_if_init_failed>true</terminate_if_init_failed>
		<read_save_path/>
		<logging_level>2</logging_level>
	</tcpserial>
	<linux_cpu_info>
		<debug>false</debug>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<enable>true</enable>
		<terminate_if_init_failed>true</terminate_if_init_failed>
		<read_save_path/>
		<logging_level>2</logging_level>
	</linux_cpu_info>
	<common_messages>
		<debug>false</debug>
		<read_style>2</read_style>
		<enable>true</enable>
		<terminate_if_init_failed>true</terminate_if_init_failed>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<send_system_status_message>true</send_system_status_message>
		<message_send_rate_hz>10</message_send_rate_hz>
		<radio_channel_send_rate_hz>10</radio_channel_send_rate_hz>
		<control_effort_send_rate_hz>10</control_effort_send_rate_hz>
		<read_save_path/>
		<logging_level>2</logging_level>
		<send_system_time_message>true</send_system_time_message>
	</common_messages>
	<waypoint_manager>
		<debug>false</debug>
		<read_style>2</read_style>
		<enable>true</enable>
		<terminate_if_init_failed>true</terminate_if_init_failed>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<read_save_path/>
		<logging_level>2</logging_level>
	</waypoint_manager>
	<external_mavlink>
		<logging_level>0</logging_level>
		<read_style>2</read_style>
		<enable>false</enable>
		<terminate_if_init_failed>true</terminate_if_init_failed>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<read_save_path/>
		<use_external_gps>true</use_external_gps>
		<use_external_imu>true</use_external_imu>
		<read_path>/home/joseph/Desktop/mavlink</read_path>
		<terminal>
			<read_settings>
				<baudrate>57600</baudrate>
				<parity>8N1</parity>
				<hardware_flow_control>false</hardware_flow_control>
				<raw_mode>true</raw_mode>
			</read_settings>
		</terminal>
	</external_mavlink>
	<fake_rc>
		<logging_level>0</logging_level>
		<read_style>2</read_style>
		<enable>true</enable>
		<terminate_if_init_failed>true</terminate_if_init_failed>
		<read_save_path/>
		<period_seconds>2</period_seconds>
		<channel_1_low>1000</channel_1_low>
		<channel_1_high>2000</channel_1_high>
		<channel_2_low>1000</channel_2_low>
		<channel_2_high>2000</channel_2_high>
		<channel_3_low>1000</channel_3_low>
		<channel_3_high>2000</channel_3_high>
		<channel_4_low>1000</channel_4_low>
		<channel_4_high>2000</channel_4_high>
		<channel_5_low>1000</channel_5_low>
		<channel_5_high>2000</channel_5_high>
		<channel_6_low>1000</channel_6_low>
		<channel_6_high>2000</channel_6_high>
		<channel_7_low>1000</channel_7_low>
		<channel_7_high>2000</channel_7_high>
		<channel_8_low>1000</channel_8_low>
		<channel_8_high>2000</channel_8_high>
	</fake_rc>
</configuration>
