<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<servo>
		<debug>false</debug>
		<enabled>false</enabled>
		<serial_port>/dev/ttyS0</serial_port>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
	</servo>
	<gx3>
		<debug>true</debug>
		<enabled>true</enabled>
		<serial_port>/dev/ttyACM0</serial_port>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<terminal>
			<IMU1>
				<baudrate>115200</baudrate>
				<parity>8N1</parity>
				<hardware_flow_control>false</hardware_flow_control>
				<raw_mode>true</raw_mode>
			</IMU1>
		</terminal>
		<vehicle_offset_x_meters>0.052</vehicle_offset_x_meters>
		<vehicle_offset_y_meters>0</vehicle_offset_y_meters>
		<vehicle_offset_z_meters>-0.3</vehicle_offset_z_meters>
		<antenna_offset_x_meters>-0.24</antenna_offset_x_meters>
		<antenna_offset_y_meters>-0.05</antenna_offset_y_meters>
		<antenna_offset_z_meters>-0.473</antenna_offset_z_meters>
		<use_external_gps>true</use_external_gps>
	</gx3>
	<qgroundcontrol>
		<debug>false</debug>
		<host>
			<ip>127.0.0.1</ip>
			<port>14550</port>
		</host>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<UASidentifier>100</UASidentifier>
	</qgroundcontrol>
	<channels>
		<two>
			<gyro>
				<value>1050, 1800</value>
			</gyro>
		</two>
		<three>
			<aileron>
				<value>1000, 1500, 2000</value>
			</aileron>
			<elevator>
				<value>1000, 1500, 2000</value>
			</elevator>
			<rudder>
				<value>1000, 1500, 2000</value>
			</rudder>
		</three>
		<five>
			<throttle>
				<value>1000, 1250, 1500, 1750, 2000</value>
			</throttle>
			<pitch>
				<value>1000, 1250, 1500, 1750, 2000</value>
			</pitch>
		</five>
	</channels>
	<controller_params>
		<mix>
			<roll>1</roll>
			<pitch>1</pitch>
		</mix>
		<mode>0</mode>
		<trajectory>0</trajectory>
		<attitude_pid>
			<roll>
				<gain>
					<proportional>1</proportional>
					<derivative>1</derivative>
					<integral>1</integral>
				</gain>
				<trim>0</trim>
			</roll>
			<pitch>
				<gain>
					<proportional>1</proportional>
					<derivative>1</derivative>
					<integral>1</integral>
				</gain>
				<trim>0</trim>
			</pitch>
		</attitude_pid>
		<translation_outer_pid>
			<x>
				<proportional>1</proportional>
				<derivative>1</derivative>
				<integral>1</integral>
			</x>
			<y>
				<proportional>1</proportional>
				<derivative>1</derivative>
				<integral>1</integral>
			</y>
			<travel>15</travel>
		</translation_outer_pid>
		<translation_outer_sbf>
			<ned_x>
				<proportional>1</proportional>
				<derivative>1</derivative>
				<integral>1</integral>
			</ned_x>
			<ned_y>
				<proportional>1</proportional>
				<derivative>1</derivative>
				<integral>1</integral>
			</ned_y>
			<travel>0</travel>
		</translation_outer_sbf>
		<line>
			<xtravel>0</xtravel>
			<ytravel>0</ytravel>
			<hover>0</hover>
			<speed>0</speed>
		</line>
		<circle>
			<radius>0</radius>
			<hover>7</hover>
			<speed>0.30000001192092896</speed>
		</circle>
	</controller_params>
	<physical_params>
		<mass>13.65</mass>
		<main_hub_offset>
			<x>0</x>
			<y>0</y>
			<z>-0.32</z>
		</main_hub_offset>
		<tail_hub_offset>
			<x>-1.06</x>
			<y>0</y>
			<z>0</z>
		</tail_hub_offset>
		<inertia>
			<x>0.36</x>
			<y>1.48</y>
			<z>1.21</z>
		</inertia>
	</physical_params>
	<novatel>
		<debug>true</debug>
		<enabled>false</enabled>
		<serial_port>/dev/ttyS0</serial_port>
		<read_style>1</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<enable_fallback_gps>true</enable_fallback_gps>
		<log_fallback_gps>false</log_fallback_gps>
	</novatel>
	<log>
		<debug>false</debug>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
	</log>
	<mdl_altimiter>
		<debug>true</debug>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<enabled>true</enabled>
		<device>/dev/ttyUSB3</device>
		<terminal>
			<Altimiter1>
				<baudrate>38400</baudrate>
				<parity>8N1</parity>
				<hardware_flow_control>false</hardware_flow_control>
				<raw_mode>true</raw_mode>
			</Altimiter1>
		</terminal>
	</mdl_altimiter>
	<tcpserial>
		<debug>false</debug>
		<read_style>2</read_style>
		<read_style_COMMENT>0:read until min, 1:readcond, 2:read(), 3:wait then read()</read_style_COMMENT>
		<enabled>true</enabled>
		<serial_path>/dev/ttyS0</serial_path>
		<terminal>
			<serial_settings>
				<baudrate>9600</baudrate>
				<parity>8N1</parity>
				<hardware_flow_control>false</hardware_flow_control>
				<raw_mode>true</raw_mode>
			</serial_settings>
		</terminal>
		<TCP_Port>5000</TCP_Port>
		<TCP_backlog>10</TCP_backlog>
	</tcpserial>
</configuration>
